body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1333&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  background-color: rgb(223, 85, 6);
  grid-column: 2/3;
  border-radius: 23px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(255, 0, 0);
}


main {
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

#people {
  grid-column: 2/3;
  grid-row: 2/3;
}

#planets {
  grid-column: 3/4;
  grid-row: 2/3;
}

#starships {
  grid-column: 4/5;
  grid-row: 2/3;
}

li {
  list-style-type: none;
  background-color: grey;
  border-radius: 23px;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
}

h2 {
  background-color: lightgray;
  border-radius: 23px;
}